.yes{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	display: inline-table;
	background-color: #7BEEC7;
}
.green{
	margin-left: 6%;
	width: 430px;
	height: 200px;
	font-size: 25px;
	color: white;
	float: left;
}
.green p{
	margin-top: 10px;
}
.get{
	width: 140px;
	height: 35px;
	margin-top: 25px;
	text-align: center;
	background-color: white;
	font-size: 15px;
	color: #7BEEC7;
	line-height: 35px;
}
.stay{
	margin: 10px;
	padding: 10px;
	margin-right: 6%;
	width: 480px;
	height: 200px;
	font-size: 25px;
	color: #60606E;
	float: right;
	background-color: white;
}
.stay p{
	font-size: 15px;
}
.reg{
	width: 100%;
	height: 30px;
	margin-top: 30px;
}
.reg input{
	text-align: center;
	height: 30px;
	border: solid 0px;
	float: left;
}
.send{
	width: 100px;
	height: 30px;
	color: white;
	background-color: #7BEEC7;
	float: right;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
}
.menu{
	width: 100%;
	height: 100px;
	margin-top: 30px;
}
.menu-wrap{
	float: left;
	width: 65%;
	column-count: 6;
	justify-content: center;
	align-items: center;
}
.menu-item{
	width: 120px;
	height: 30px;
	color: #60606E;
	text-decoration: none;
	font-size: 15px;
}
.menu-item a{
	text-decoration: none;
	color: #60606E;
	padding: 20px;
}
.by{
	width: 400px;
	height: 60px;
	float: right;
	color: #60606E;
	font-size: 15px;
}
.by img{
	display: block;
	float: right;
}
@media(max-width: 1173px){
	.by{
		float: left;
		margin: 20px;
	}
	.menu-wrap{
		width: 100%
	}

}
@media(max-width: 1085px){
	.stay{
		width: 90%;
		float: left;
	}
}
@media(max-width: 700px){
	.menu-wrap{
		column-count: 3;
	}
}